<% if @tweets.any? %>
  $("#tweets-container").append("<%= j render(@tweets) %>");
<% else %>
  endOfTweets = true;

  if ($("#tweets-container").children().length === 0 || $("#tweets-container").hasClass('alert')) {
    $("#tweets-container").html('<div class="alert alert-warning text-center">Nenhum tweet encontrado.</div>');
  }

  $("#back-to-top-container").show();
<% end %>
